$dropdown-link-active-bg: #2e2f2f;
$form-select-indicator-color: #fff;
@import "../../node_modules/bootstrap/scss/bootstrap";

$primary-color: #0d6efd;
$secondary-color: #0b5ed8;

::selection {
  color: #fff;
  background-color: #0d6efd;
}

.paper {
  padding: 30px;
  background: #fff;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, .15), 0 -10px 0 -5px #eee, 0 -10px 1px -4px rgba(0, 0, 0, .15), 0 -20px 0 -10px #eee, 0 -20px 1px -9px rgba(0, 0, 0, .15);
}

.white .container {
  padding-top: 50px;
  padding-bottom: 60px;
  margin-top: 0;
  background-color: #fff;
}

@media (min-width: 576px) {
  .white .container {
    margin-top: 30px;
  }
}

.black .container {
  padding-top: 80px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 30px;
  color: #fff;
  background-color: #2e2f2f;

  .start-success-icon {
    font-size: 175px;
  }

  .summary-item {
    border-bottom: 1px solid #616161;

    .summary-item-value {
      word-break: break-all;
    }
  }

  input {
    color-scheme: dark;
  }

  .full-name {
    display: none;
  }

  // This code bellow makes for look "good" on a dark background.
  form .form-control,
  form .form-floating > .form-control,
  form .form-floating > .form-select,
  form .form-select {
    color: inherit;
    background-color: #2e2f2f;
    // border: none;
    // border-bottom: 1px solid #ced4da;
    // border-color: #616161;
    // border-radius: 0px;

    &:focus {
      // background-color: inherit;
      // border-bottom: 1px dashed #ced4da;
      color: inherit;
      // box-shadow: none;
    }

    // Only used in .form-select case.
    & > option {
      color: #fff;
    }
  }
}

footer.black .container {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  footer.black .container {
    margin-bottom: 30px;
  }
}

.indent {
  text-indent: 5rem;
}

body {
  background-color: #e6e6e6;
}

.black-group {
  padding-bottom: 50px;

  .black-group-title {
    padding-bottom: 20px;
  }
}

.number-unit {
  .number-unit-left {
    width: 100%;
    min-width: 70px;
    max-width: 70px;
  }

  .number-unit-title {
    color: rgba(255, 255, 255, .85);
  }

  .number-unit-body {
    color: rgba(255, 255, 255, .7);
  }
}

.icon-unit {
  .icon-unit-left {
    width: 100%;
    min-width: 50px;
    max-width: 50px;

    .bi {
      width: 30px;
      height: 30px;
    }
  }

  .icon-unit-title {
    color: rgba(255, 255, 255, .85);
  }

  .icon-unit-body {
    color: rgba(255, 255, 255, .7);
  }
}

.centered-icon-unit {
  .bi {
    width: 40px;
    height: 40px;
  }

  .centered-icon-unit-title {
    color: rgba(255, 255, 255, .85);
  }

  .centered-icon-unit-body {
    color: rgba(255, 255, 255, .7);
  }
}

.animation-container {
  position: relative;
  max-width: 320px;
  margin: 0 auto;

  .animation-link {
    &:hover .animation-cta {
      margin-left: 40px;
    }

    &:hover .animation-block {
      background: $secondary-color;
      transition: background .27s cubic-bezier(.3, .1, .58, 1);
    }

    .animation-cta {
      position: absolute;
      top: 40px;
      left: 0;
      transition: margin 700ms;
    }

    .animation-block {
      width: 200px;
      height: 200px;
      margin-left: 60px;
      background: $primary-color;
      transition: background .27s cubic-bezier(.3, .1, .58, 1);
    }
  }
}

.unit {
  .unit-title {
    font-weight: 700;
    color: rgba(255, 255, 255, .85);
  }

  .unit-title > .unit-subtitle {
    font-style: italic;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
  }

  .unit-intro {
    color: rgba(255, 255, 255, .5);
  }

  .unit-body {
    color: rgba(255, 255, 255, .4);
  }
}

.post-content {
  margin-bottom: 4rem;
  // p:first-child {
  //   margin-bottom: 3rem;
  // }

  // p:not(:first-child) {
  //   margin-top: 2rem;
  //   margin-bottom: 3rem;
  // }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: .25rem;
  }

  a {
    color: #f8f9fa;
  }

  pre {
    padding: 7px 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    white-space: break-spaces;
    border-left: 1px solid rgba(#d63384, .25);
  }

  ol,
  ul,
  dl {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  blockquote {
    padding-left: 24px;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: #808080;
    border-left: 1px solid rgba(#fff, .25);
  }

  table {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.post-meta {
  .post-meta-heading {
    margin-bottom: 0;
  }

  .post-meta-author {
    margin-top: 0;
  }
}

.post-index {
  margin-bottom: 3rem;

  p {
    margin-bottom: 0;
    color: rgba(255, 255, 255, .85);
  }

  p > small {
    color: rgba(255, 255, 255, .7);
  }
}

.page-item .page-link {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}
