$dropdown-link-active-bg: #2e2f2f;
$form-select-indicator-color: #fff;
// $link-color: #0dcaf0;
// $link-color-dark: #0dcaf0;
// @import "../../node_modules/bootstrap/scss/bootstrap";

// $link-color: #1575b8;
// $link-color-dark: #1575b8;

// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/accordion";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas";
// @import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

/* $primary-color: #0d6efd; */
/* $secondary-color: #0b5ed8; */

::selection {
  color: #fff;
  background-color: #0d6efd;
}

.full-name {
  display: none;
}

// .indent {
//   text-indent: 5rem;
// }

.black-group {
  padding-bottom: 50px;

  .black-group-title {
    padding-bottom: 20px;
  }
}

// .number-unit {
//   .number-unit-left {
//     width: 100%;
//     min-width: 70px;
//     max-width: 70px;
//   }
// }

.icon-unit {
  .icon-unit-left {
    width: 100%;
    min-width: 50px;
    max-width: 50px;

    .bi {
      width: 30px;
      height: 30px;
    }
  }
}

.centered-icon-unit {
  .bi {
    width: 40px;
    height: 40px;
  }
}

// .animation-container {
//   position: relative;
//   max-width: 320px;
//   margin: 0 auto;

//   .animation-link {
//     &:hover .animation-cta {
//       margin-left: 40px;
//     }

//     &:hover .animation-block {
//       background: $secondary-color;
//       transition: background .27s cubic-bezier(.3, .1, .58, 1);
//     }

//     .animation-cta {
//       position: absolute;
//       top: 40px;
//       left: 0;
//       transition: margin 700ms;
//     }

//     .animation-block {
//       width: 200px;
//       height: 200px;
//       margin-left: 60px;
//       background: $primary-color;
//       transition: background .27s cubic-bezier(.3, .1, .58, 1);
//     }
//   }
// }

.unit {
  .unit-title {
    font-weight: 700;
  }

  .unit-title>.unit-subtitle {
    font-style: italic;
    font-weight: 400;
  }
}

.post-content {
  margin-bottom: 4rem;

  img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: .25rem;
  }

  pre {
    padding: 7px 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    white-space: break-spaces;
    border-left: 1px solid rgba(#d63384, .25);
  }

  ol,
  ul,
  dl {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  blockquote {
    padding-left: 24px;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: #808080;
    border-left: 1px solid rgba(#fff, .25);
  }

  table {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.post-meta {
  .post-meta-heading {
    margin-bottom: 0;
  }

  .post-meta-author {
    margin-top: 0;
  }
}

.post-index {
  margin-bottom: 3rem;

  p {
    margin-bottom: 0;
  }
}

.page-item {
  &.active {
    font-weight: 700;
  }

  .page-link {
    color: var(--bs-body-color);
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}

.dropdown-menu {
  --bs-dropdown-min-width: 8rem;
  --bs-dropdown-padding-x: .25rem;
  --bs-dropdown-padding-y: .25rem;

  &.dropdown-menu-end {
    right: 0;
  }
}

.dropdown-item {
  border-radius: 0.25rem;
}

.dropdown-item.active {
  font-weight: 600;

  .bi {
    display: block !important;
  }
}

@include color-mode(dark) {
  .navbar-brand svg g:last-child {
    fill: var(--bs-body-color);
  }
}

.latest-posts {
  margin-bottom: 60px;
}

@mixin logo-animate {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1) rotate(-5deg);
  }
}

@mixin button-animate {
  @include logo-animate;
}

@mixin tilt {
    transform: scale(1.1) rotate(-5deg);

    transition: transform 0.2s ease-in-out;

    &:hover {
      transition: transform 0.2s ease-in-out;
      transform: scale(1.0) rotate(0deg);
    }
}

a,
button {
  &.btn-outline-primary:not(.tilt) {
    @include button-animate;
  }
}

.tilt {
  @include tilt;
}

.navbar-brand>svg {
  @include logo-animate;
}

.w-130 {
  width: 130px;
  min-width: 130px;
}

.animate {
  @include logo-animate;
}

$laravelista-brand-color: #FBF18E;

@include color-mode(dark) {
  #laravelista-logo {
    fill: $laravelista-brand-color;
  }
}

#home-govisit {
  width: 100%;
}

#home-laravelista {
  width: 100%;
}

@include media-breakpoint-up(lg) {
  #home-govisit {
    width: 50%;
  }

  #home-laravelista {
    width: 50%;
  }
}

.column-divider {
  background-color: $secondary;
  width: 1px;
}


